<div id="dialog-form" title="Create new user">

	<script type="text/javascript">
	$('input:radio').change(function() {
		alert("changed");
	});
	</script>

  	<div class="resp-type-container">

  		<p>set the response type:</p>

  		<div class="resp-type-selector">
  			<form>
			    <fieldset>
				    <div class="radio">
				    	<label><input type="radio" name="optradio" id="r1" value="textinput">text input</label>
					</div>

					<div class="radio">
						<label><input type="radio" name="optradio" id="r2" value="multichoice">multiple choice</label>
					</div>

					<div class="radio">
						<label><input type="radio" name="optradio" id="r3" value="chkboxes">checkboxes</label>
					</div>
			    </fieldset>
		    </form>
		</div>

		<div class="resp-options">

		</div>
	</div>
</div>