<div id="dialog-form" title="Create new user">
  	<div class="resp-type-container">
  		<p>set the response type:</p>
  		<div class="resp-type-selector">
  			<form>
			    <fieldset>
				    <div class="radio">
				    	<label><input type="radio" name="optradio" id="r1" value="textinput">text input</label>
					</div>

					<div class="radio">
						<label><input type="radio" name="optradio" id="r2" value="multichoice">multiple choice</label>
					</div>

					<div class="radio">
						<label><input type="radio" name="optradio" id="r3" value="chkboxes">checkboxes</label>
					</div>
			    </fieldset>
		    </form>
		</div>

		<div class="resp-options">
			<div class="optradio-form" id="optradio-r1" hidden>
				<p>some form for text input</p>
			</div>

			<div class="optradio-form" id="optradio-r2" hidden>
				<p>some form for multiple choice</p> 
			</div>

			<div class="optradio-form" id="optradio-r3" hidden>
				<p>some form for checkboxes</p>
			</div>

		</div>
	</div>
</div>