<div id="dialog-form" title="Create new user">

  	<div class="resp-type-container">

  		<p>set the response type:</p>

  		<div class="resp-type-selector">
  			<form>
			    <fieldset>
				    <div class="radio">
				    	<label><input type="radio" name="optradio" id="r1">text input</label>
					</div>

					<div class="radio">
					  <label><input type="radio" name="optradio" id="r2">multiple choice</label>
					</div>

					<div class="radio">
					  <label><input type="radio" name="optradio" id="r3">checkboxes</label>
					</div>
			    </fieldset>
		    </form>
		</div>

		<div class="resp-options">

		</div>
	</div>
</div>