<div class="new-question-form"> 
	<form id="add_question" action="/surveys/<%= @current_survey.id %>/questions" method="POST" data-remote="true">
		<!-- <input type="hidden" name="_method" value="PUT" > -->
    	<input type="hidden" name="id" value=<%=@current_survey.id%>>
    	<input type="text" name="text" class="new-question-text-box" placeholder="Question">
    	<input type="textarea" name="explanation" class="question-explanation-text-box" placeholder="Explain what you want here...">
    	<input id="add-question-btn" type="submit" value="Add Question" >
    </form>
</div>