<div class="new-question-form">
	<form id="add_question" action="/surveys/<%= @current_survey.id %>/questions" method="POST" data-remote="true">
    	<input type="hidden" name="id" value=<%=@current_survey.id%>>
    	<input type="text" name="text" class="new-question-text-box" placeholder="Question" required>
    	<p>type a question...</p>
    	<input class="btn btn-primary add-question-btn" type="submit" value="add question">
    </form>
</div>