<div class="question-div">
	<p class="question-text"><%= @new_question.text %></p>
	<button type="button" class="btn btn-primary set-resp-type-btn">response</button>

	<div class="required-dropdown">
    	<button class="btn btn-primary dropdown-toggle required-dropdown-toggle" type="button" data-toggle="dropdown">required
    	<span class="caret"></span></button>
    	<ul class="dropdown-menu required-dropdown-menu">
      		<li><a href="#">yes</a></li>
      		<li><a href="#">no</a></li>
    	</ul>
  	</div>

</div>