<div class="edit_survey_partial">

	<h3><%= @survey.title %></h3>

	<div class="add-question-prompt-container">
		<div class="display-question-form-button">
			<a href="#" id="show-question-form" class="btn btn-info btn-lg">new question</a>
		</div>

		<div class="add-question-prompt">
			<p>Erright!</p>
			<p>Let's start by adding your first question</p>
		</div>
	</div>

	<div class="question-container">
		<% @survey.questions.each do |question| %>
			<div class="panel panel-default">
				<div class="question-wrapper">
	        		<p class="question"><%=question.text%></p>
	        		<%= form_tag delete_question_path(@survey, question), method:'DELETE', class: "delete-question-form", remote: true do %>
	          			<%= submit_tag("delete", :class => "add_question") %>
	        		<% end %>
	      		</div>
	    	</div>
    	<% end %>	
    </div>

</div>