<div class="survey-title-container">
	<div class="survey-title-form-container">
		<p>name:</p>
		<div class="survey-title-form">
			<%= form_tag('/surveys/create', method: "post") %>
			<%= text_field(:title, size: 50, class: 'survey-name-input') %>
		</div>
		<p>description:</p>
		<div class="survey-description-form">
			<%= text_area(:description, :description, cols: 50, rows: 5, class: 'survey-description-input')%>
			<hr>
			<%= submit_tag("Create Survey") %>
		</div>
			
	</div>
</div>